six
pubtools>=0.3.0
pubtools-pulplib>=2.33.0
fastpurge
more_executors>=2.7.0
pushcollector>=1.2.0
pushsource>=2.14.0
rhsm
# due to strange dependency resolution requests-kerberos == 1.2.3 pulls gssapi 1.8.0 which doesn't exists.
# according to source, requests-kerberos 1.2.3 depends on gssapi == 1.8.2
gssapi > 1.8.0
